$colorTextoCabeceras: #f2f2f2; //quitar
$colorTextoPrincipal: #f2f2f2;
$colorTextoSecundario: #09afdf;
$colorPrimario: #09afdf; //quitar
$colorBGFooter: #000000;
$colorLinksFooter: #888;
//$textoPrimario: "Roboto", sans-serif;
$textoPrimario: "Titillium Web", sans-serif;
$textoSecundario: "Oswald", sans-serif;



