<section id="contact" class="contact">
		<div class="container">
			<div class="row">
        <h2 ng-bind="sectionContact">{{ sectionTitle }}</h2>

				<div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
					<div class="row">
						<div class="col-xs-7 text-right">
							<img [src]=" sectionImg " alt="" class="img-responsive img-footer">
						</div>
						<div class="col-xs-5 no-padding">
							<ul *ngFor="let socialnet of socialNetworks">
                <li class="text-map"><a href="{{socialnet.LINK}}" target="_blank"><i class="fa fa-2x" ngClass="{{socialnet.CLASS}}"></i> {{ socialnet.CHANNEL }}</a></li>
							</ul>
						</div>
					</div>
        </div>

				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 logos-lenguajes">
					<p class="small">{{ construct }}</p>
					<div class="p-section--logos-table">
						<div class="p-section--logos-table-container" *ngFor="let img of imgLogos">
              <div class="p-section--logos-cell" >
                <img [src]=" img.logo " alt=" {{ img.alt }} " title=" {{ img.title }} ">
              </div>
						</div>
					</div>
        </div>

				<div class="col-xs-12 diff">
					<p>{{ cv }} </p>
					<div class="text-center wow shake">
						<a href="docs/curriculum_mauricio_correa.pdf" target="_blank">
							<img class="perfil" [src]=" imgPerfil " alt="curriculum">
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
