/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600,700);
html {
  font-size: 62.5%; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  font-size: 1.6rem;
  font-family: "Titillium Web", sans-serif;
  color: #f2f2f2; }

h2 {
  font-size: 3rem; }

h3 {
  padding-bottom: 20px;
  font-family: 'Ubuntu Mono', monospace; }

ol,
ul {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 0;
  list-style: none; }

img {
  max-width: 100%; }

a:focus,
a:hover {
  color: #09afdf;
  text-decoration: none; }

article {
  clear: both;
  overflow: hidden;
  margin: 50px; }

.logo {
  float: left;
  display: inline;
  width: 66px;
  margin-top: -8px; }

.fa-2x {
  font-size: 2rem;
  color: #09afdf;
  padding-right: 10px; }

.fa-4x {
  font-size: 3rem;
  color: #09afdf;
  padding-right: 10px; }

.fa-6x {
  font-size: 6rem;
  color: #f2f2f2; }

mark {
  background-color: #09afdf; }
  mark a,
  mark a:link,
  mark a:hover {
    color: #f2f2f2; }

.img-responsive {
  display: inline; }

span.hash {
  background-color: rgba(255, 255, 255, 0.2);
  color: #f2f2f2;
  padding: 1px; }

.logos-lenguajes img {
  width: 60px; }

.btn {
  margin-top: 30px; }

button .btn-ver {
  color: #f2f2f2; }

section {
  padding: 100px 0; }
  section h2 {
    padding-bottom: 30px;
    color: #f2f2f2; }
  section h3 {
    font-weight: 100; }
  section ul li small {
    color: rgba(255, 255, 255, 0.6); }
  section .text-faded {
    padding: 0px 35px; }
  section .vertical-space {
    margin-bottom: 75px; }
  section .container-hexagon {
    position: relative;
    height: 280px;
    margin-top: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-origin: content-box; }
  section .hexagon {
    position: relative;
    width: 120px;
    height: 60px;
    background-color: #f2f2f2;
    margin: 86px 0; }
    section .hexagon img {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -28%;
      margin-left: -36%; }
    section .hexagon.h-1 {
      position: absolute; }
    section .hexagon.h-2 {
      position: absolute;
      left: 140px;
      top: 0px; }
    section .hexagon.h-3 {
      position: absolute;
      left: 78px;
      top: -98px; }
    section .hexagon.h-4 {
      position: absolute;
      left: 204px;
      top: 98px; }
    section .hexagon.h-5 {
      position: absolute;
      left: 264px;
      top: 0px; }
  section .hexagon:before,
  section .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent; }
  section .hexagon:before {
    bottom: 100%;
    border-bottom: 35px solid #f2f2f2; }
  section .hexagon:after {
    top: 100%;
    width: 0;
    border-top: 35px solid #f2f2f2; }
  section.contact {
    background: #242424;
    /* Old browsers */
    padding: 20px 0 25px;
    position: relative; }
    section.contact img.perfil {
      width: 100%;
      max-width: 190px;
      border-radius: 50%; }
    section.contact li {
      display: block;
      margin-bottom: 1.2rem; }
      section.contact li .va-e {
        vertical-align: bottom;
        padding-bottom: 3px;
        padding-left: 6px; }
    section.contact .no-padding-lateral {
      padding-left: 0;
      padding-right: 0; }
    section.contact .p-section--logos-table {
      display: table;
      width: 100%;
      margin: 40px 0; }
      section.contact .p-section--logos-table .p-section--logos-table-container {
        display: table-row; }
        section.contact .p-section--logos-table .p-section--logos-table-container .p-section--logos-cell {
          display: table-cell;
          text-align: center; }
    section.contact .elem-esp {
      margin-left: -30px; }
    section.contact .text-map {
      font-size: 1.3rem; }
    section.contact .text-left img {
      vertical-align: inherit; }
    section.contact .img-footer {
      max-width: 95%; }
    section.contact h2 {
      color: #09afdf;
      padding-left: 15px; }
    section.contact p {
      margin: 0 0 5px; }
    section.contact p > a {
      color: white; }
    section.contact ul > li > a:link,
    section.contact ul > li > a:hover,
    section.contact ul > li > a:visited,
    section.contact ul > li > a:focus {
      color: #09afdf; }
    section.contact .diff {
      position: absolute;
      top: 0;
      right: 0;
      background-color: #09afdf;
      height: 100%;
      width: 380px; }
      section.contact .diff p {
        padding: 50px 40px 10px 40px; }
  section hr {
    width: 100px;
    height: 1px;
    background-color: #09afdf; }
  section#portfolio h2, section#education h2, section#skills h2 {
    text-align: center; }
  section.aboutMe {
    color:white;
    background: #44263b;
    /* Old browsers */
    background: -webkit-linear-gradient(315deg, #44263b 0%, #694654 100%);
    background: linear-gradient(135deg, #44263b 0%, #694654 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#44263b", endColorstr="#694654", GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }
    section.aboutMe ul {
      margin-left: 30px; }
    section.aboutMe ul > li {
      list-style-type: circle;
      text-align: left; }
    section.aboutMe p.title {
      text-align: left;
      font-weight: bold; }
    section.aboutMe .img-responsive {
      margin-top: 15%; }
  section.bgSecundary {
    color:white;
    background: #2e3951;
    /* Old browsers */
    background: -webkit-linear-gradient(315deg, #2e3951 0%, #4d5872 100%);
    background: linear-gradient(135deg, #2e3951 0%, #4d5872 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#2e3951", endColorstr="#4d5872", GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }
  section.bgEducation {
    background: #382b53;
    /* Old browsers */
    background: -webkit-linear-gradient(315deg, #382b53 0%, #2E3FA0 100%);
    background: linear-gradient(135deg, #382b53 0%, #2E3FA0 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#382b53", endColorstr="#2E3FA0", GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }
  section.bgSkills {
    background: #a01a55;
    /* Old browsers */
    background: -webkit-linear-gradient(315deg, #a01a55 0%, #a01a55 0%, #bd3c5a 50%, #dd5e5e 100%);
    background: linear-gradient(135deg, #a01a55 0%, #a01a55 0%, #bd3c5a 50%, #dd5e5e 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#a01a55", endColorstr="#dd5e5e", GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }
  section#portfolio {
    background: #382b53;
    /* Old browsers */
    background: -webkit-linear-gradient(315deg, #382b53 0%, #55486f 99%);
    background: linear-gradient(135deg, #382b53 0%, #55486f 99%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#382b53", endColorstr="#55486f", GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }

/*barra navegacion*/
.navbar-inverse {
  background-color: transparent; }

.navbar-default {
  border-color: rgba(34, 34, 34, 0.05);
  font-family: "Titillium Web", sans-serif;
  background-color: #fff;
  /*  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;*/
  -webkit-transition: all 0.35s;
  transition: all 0.35s; }

.navbar-default .navbar-header .navbar-brand {
  text-transform: uppercase;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  color: #f05f40; }

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #eb3812; }

.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  color: #222; }

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #09afdf; }

.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #09afdf !important;
  background-color: transparent; }

.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent; }

/*cabecera*/
header {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #f2f2f2;
  background: #a01a55;
  /* Old browsers */
  background: -webkit-linear-gradient(315deg, #a01a55 0%, #a01a55 0%, #bd3c5a 50%, #dd5e5e 100%);
  background: linear-gradient(135deg, #a01a55 0%, #a01a55 0%, #bd3c5a 50%, #dd5e5e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#a01a55", endColorstr="#dd5e5e", GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
  header .header-content {
    position: relative;
    width: 100%;
    padding: 300px 15px;
    text-align: center; }
    header .header-content .header-content-inner {
      margin-right: auto;
      margin-left: auto;
      max-width: 1000px;
      position: relative; }
      header .header-content .header-content-inner .img-home {
        margin: 0 auto; }
        header .header-content .header-content-inner .img-home img {
          -webkit-animation-duration: 3s;
                  animation-duration: 3s; }
  header .header-title {
    position: absolute;
    bottom: 75px;
    width: 100%; }
    header .header-title h1 {
      margin-top: 10%;
      margin-bottom: 2%;
      text-transform: uppercase;
      font-weight: 100;
      font-size: 7rem; }

footer {
  background-color: #000000;
  color: #f2f2f2;
  padding: 3px 0;
  font-size: 1.4rem; }
  footer span {
    color: #09afdf; }

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  header .header-content {
    padding: 130px 15px; }
  header .header-title h1 {
    font-size: 6rem; }
  section {
    padding: 50px 0; }
    section .fa-2x {
      font-size: 1.2rem;
      color: #09afdf;
      padding-right: 2px; }
    section .elem-esp {
      margin-left: -30px; }
    section .text-map {
      font-size: 1.3rem; }
    section .text-faded {
      padding: 20px 15px;
      text-align: center; }
    section .service-box {
      margin-bottom: 45px; }
    section .hexagon {
      width: 70px;
      height: 35px; }
      section .hexagon img {
        max-width: 55px; }
      section .hexagon.h-1 {
        position: absolute; }
      section .hexagon.h-2 {
        position: absolute;
        left: 88px;
        top: 0px; }
      section .hexagon.h-3 {
        position: absolute;
        left: 52px;
        top: -65px; }
      section .hexagon.h-4 {
        position: absolute;
        left: 124px;
        top: 64px; }
      section .hexagon.h-5 {
        position: absolute;
        left: 161px;
        top: 0px; }
    section .hexagon:before,
    section .hexagon:after {
      border-left: 35px solid transparent;
      border-right: 35px solid transparent; }
    section .hexagon:before {
      border-bottom: 25px solid #f2f2f2; }
    section .hexagon:after {
      border-top: 25px solid #f2f2f2; }
    section.contact {
      padding-bottom: 0; } }

@media only screen and (max-width: 767px) {
  section.contact .diff {
    position: static;
    width: 100%;
    padding-bottom: 20px; }
  section.aboutMe .img-responsive {
    margin-top: 0; }
  section div.margin-esp:not(:first-of-type) {
    margin: 30px 0; } }

@media screen and (min-width: 768px) and (max-width: 992px) {
  section.contact .diff {
    width: 240px; }
  section.aboutMe .img-responsive {
    margin-top: 0; } }

/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  section.contact li {
    margin-bottom: .8rem; }
  section.aboutMe .img-responsive {
    margin-top: 0; } }